*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-size: 62.5%;
    }
  body{
    background-color: #dad5d5da;
  }

 main {
    font-family: Circular Std;
  }
  




  // @media (min-width: 710px) { 
 
  // }
  
  // .MuiAvatar-img{
  //   -webkit-font-smoothing: antialiased;
  //   font-weight: 400;
  //   font-size: 1.25rem;
  //   font-family: 'Montserrat';
  //   line-height: 1;
  //   user-select: none;
  //   box-sizing: inherit;
  //   color: transparent;
  //   width: 40%;
  //   height: 100%;
  //   object-fit: cover;
  //   text-align: center;
  //   text-indent: 10000px;
  // }


//--------- Variables --------------
$main-green:#1A9986;
$white-bg:#fafafa;
$light-gray:#E5E5E5;
$card-background:#36ADAC;
$main-yellow: #F9B234;
$light-Green:#C8E9E2;
$max-width-rs: 710px;
$main-blue:#074F71;
$dark-gray: #8F8F8F;

@media (max-width: $max-width-rs) { 
}
//--------- Fonts --------------
@import "./fonts/fonts.scss";



// //--------- Views --------------
@import "./views/referral-Invitation-page.scss";
@import "./views/referral-summary-page.scss";
@import "./views/register-page.scss";

// //--------- Layout --------------
@import "./layout/card_styles.scss";

// //--------- Componentes --------------
@import "./components/Spinner.scss";
@import "./components/Alert.scss";
@import "./components/Dropdown.scss";

