.referralSummary_card {
    @extend .card;
    font-size: 10rem;
    width: 500px;
    padding: 1rem;

    .expenses_list {
        ul {
            display: flex;
            flex-direction: column;

            .title_row {
                margin-bottom: 1rem;
                border-bottom: none;
            }

            .user_row {
                background-color: $light-Green;
                padding: 1.4rem 1.5rem;
            }

            li {
                font-weight: bold;
                display: flex;
                align-items: flex-end;
                border-radius: 1.5rem;

                padding: 1.4rem 1rem;

                margin-bottom: 1rem;

                &:last-child {
                    border-bottom: none;
                }

                p {
                    margin: 0.2rem;
                    font-size: 1.6rem;

                }

                .title {
                    font-size: 1.4rem;
                }

                .name_column {
                    text-align: left;
                }

                .invitation_column {
                    text-align: center;
                }

                .total_column {
                    text-align: right;
                }
            }
        }
    }

    @media (max-width: $max-width-rs) {
        width: 100%;
    }
}